@import "vars";
@import "fonts";
@import "global";

//start header
.header__top {
  background-color: $bgheader;
  max-width: 100%;
  &-inner {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  .logo-img {
    margin-right: 5px;
  }
  .logo-text {
    font-weight: 700;
    color: #000;
    font-size: 30px;
    span {
      color: $bluedeg;
    }
  }
}

.header-btn {
  margin-left: auto;
  margin-right: 50px;
  text-align: center;
  a {
    color: #fff;
    font-size: 14px;
    background-color: $bluedeg;
    width: 140px;
    height: 36px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    line-height: 28px;

    padding: 4px;
  }
}

.header-icon {
  margin-right: 30px;
  a {
    color: $lightgrey;
    font-size: 20px;
    position: relative;
    & + a {
      margin-left: 30px;
    }
  }
  .icon-value {
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    top: -14px;
    right: -13px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    padding: 4px;
  }
  .alarm__icon-value {
    background-color: #ff6a6c;
  }
  .envelope__icon-value {
    background-color: #62d03b;
  }
  .cart__icon-value {
    background-color: $bluedeg;
  }
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-ava {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__wrapper {
    margin-right: 20px;
  }
}

.user-name {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: 500;
  a {
    display: block;
    color: $bluedeg;
    font-size: 15px;
    font-weight: 400;
  }
}

.header__botton-inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 33px;
    }
    a {
      font-weight: 700;
      font-size: 15px;
      line-height: 42px;
      color: #333;
      text-transform: uppercase;
    }
  }
}

.header__search {
  max-width: 360px;
  position: relative;
  transition: all 1s;
  width: 276px;
  &:hover,
  &:focus {
    width: 100%;
  }
  input {
    width: 100%;
    border-radius: 20px;
    height: 46px;
    border: 1px solid $border;
    padding-right: 75px;
    padding-left: 25px;
    &::placeholder {
      color: $ph;
      font-size: 15px;
    }
  }
  button {
    cursor: pointer;
    height: 46px;
    border: none;
    background-color: $bluedeg;
    width: 70px;
    border-radius: 20px;
    position: absolute;
    right: 0;
  }
}
//end header

//start search
.search {
  max-height: 730px;
  background-color: #294cce;
  text-align: center;
  position: relative;
  padding-bottom: 230px;
  &__title {
    padding-top: 180px;
    color: #f3f3f8;
    font-size: 60px;
    line-height: 70px;
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__text {
    padding-top: 30px;
    color: #f3f3f8;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 65px;
  }
  .btn-page {
    border: 1px solid #fff;
  }
  .btn-page:first-child {
    background-color: #fff;
    color: $bluedeg;
    margin-right: 55px;
  }
  &__panel {
    z-index: 1;
    max-width: 1145px;
    width: 100%;
    background-color: #fff;
    min-height: 136px;
    border-radius: 5px;
    position: absolute;
    bottom: -68px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      max-width: 1115px;
      width: 100%;
      border-radius: 5px;
      background-color: rgba(#fff, 0.5);
      min-height: 136px;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: -27px;
      max-width: 1070px;
      width: 100%;
      border-radius: 5px;
      background-color: rgba(#fff, 0.5);
      min-height: 136px;
      z-index: -1;
    }

    &-inner {
      max-width: 1060px;
      width: 100%;
    }
  }
  input,
  select,
  button {
    height: 55px;
    display: inline-block;
  }
  input {
    max-width: 615px;
    width: 100%;
    margin: 0;
    border: 1px solid #dcdcdc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 20px 0px 20px 30px;
    &::placeholder {
      color: $text;
    }
  }
  select {
    margin-left: 0;
    max-width: 195px;
    width: 100%;
    appearance: none;
    border: 1px solid #dcdcdc;
    border-radius: 0 5px 5px 0;
    padding: 15px 70px 15px 20px;
    color: $text;
    margin-left: -5px;
  }
  button {
    max-width: 220px;
    width: 100%;
    color: #fff;
    background-color: $bluedeg;
    border: none;
    border-radius: 15px;
    padding: 20px 60px;
    margin-left: 20px;
  }
}
//end search

//star virtues
.virtues {
  background-color: #fff;
}

.virtues__inner {
  padding: 190px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    max-width: 360px;
    padding: 40px 30px 0 30px;
    text-align: center;
    border-radius: 3px;
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      transition: all 0.3s;
    }
  }
}

.virtues__item-img {
  max-width: 120px;
  margin: 0 auto;
}
.virtues__item-title {
  font-size: 24px;
  color: #000;
  margin: 25px 0 30px;
}
.virtues__item-text {
  color: #555555;
  padding-bottom: 40px;
  line-height: 30px;
}
//end virtues

//start weklyProduct
.weklyProduct,
.followers {
  background-color: $bgheader;
  padding: 120px 0;
  &__slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      background-color: $purple;
      color: #fff;
      font-size: 14px;
      padding: 15px 0;
      border: none;
      top: -130px;
      cursor: pointer;
      width: 55px;
    }

    .slick-prev {
      right: 85px;
      border-radius: 25px 0 0 25px;
    }
    .slick-next {
      right: 30px;
      border-radius: 0 25px 25px 0;
    }
  }
}

.weklyProduct__title,
.products__title,
.products__filter,
.followers__title {
  height: 110px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 5px;
  margin-bottom: 50px;
  &-text {
    margin-left: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  &-btnSlider {
    width: 110px;
  }
  &-filter {
    margin-right: 30px;
    button {
      cursor: pointer;
      padding-right: 30px;
      color: $tag;
      background-color: transparent;
      border: none;
      background-image: url(../images/content/icon-filter.png);
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

.weklyProduct__item {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-height: 450px;
  .weklyProduct__item-img {
    max-width: 555px;
    width: 100%;
    max-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px 0 0 5px;
  }
  .weklyProduct__item-content {
    padding: 50px 50px 20px 50px;
    max-width: 585px;
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-author {
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    color: #000;
  }
  &-platform {
    margin-left: 15px;
    padding-left: 25px;
    color: $purple;
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
  }
  &-text {
    line-height: 30px;
    color: $text;
    padding-bottom: 30px;
  }

  &-tag {
    a + a {
      margin-left: 5px;
    }
    margin-bottom: 45px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-footer__left {
    a {
      color: #fff;
      background-color: $bluedeg;
      font-weight: 500;
    }
    span {
      font-size: 15px;
      padding-left: 25px;
      position: relative;
      margin-left: 20px;
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .lnr-heart {
      color: $text;
      &::before {
        color: $purple;
      }
    }
    .lnr-cart {
      color: $bluedeg;
    }
  }
}
//end weklyProduct

//start product
.products {
  background-color: #f6f7fb;
  padding: 120px 0;
}

.products__filter {
  height: 90px;

  &-btn {
    padding: 0 30px;
    .tag {
      cursor: pointer;
      border: none;
      & + .tag {
        margin-left: 10px;
      }
      &:hover {
        background-color: $bluedeg;
        color: #fff;
        transition: all 0.3s;
      }
    }
  }
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item {
  max-width: 361px;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  min-height: 450px;
  margin-bottom: 30px;
  overflow: hidden;
  &:hover {
    .product__item-preview {
      max-width: 361px;
      width: 100%;
      a {
        display: block;
      }
    }
  }
  &-img {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .product__item-preview {
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    width: 0;
    height: 230px;
    background: linear-gradient(
      270deg,
      rgba(6, 116, 236, 0.9) 0%,
      rgba(61, 94, 215, 0.9) 46%,
      rgba(115, 71, 193, 0.9) 100%
    );
    a {
      display: none;
      font-size: 15px;
      font-weight: 500;
      background-color: transparent;
      height: 45px;
      width: 132px;
      color: #fff;
      padding: 12px 10px;
      text-align: center;
      border-radius: 30px;
      border: 1px solid #fff;
      margin: 5px;
      &:last-child {
        background-color: #fff;
        color: $bluedeg;
      }
    }
  }
  &-content {
    padding: 30px;
  }
  &-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    padding-bottom: 15px;
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-avatar {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
  }
  &-author {
    font-size: 15px;
    color: #000;
    margin-right: 17px;
  }
  &-platform {
    color: $purple;
    font-size: 15px;
    padding-left: 25px;
    background-position: left;
    background-repeat: no-repeat;
  }
  &-text {
    color: $text;
    padding: 30px 1px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-footer__left {
      width: 210px;
    }
    .tag {
      background-color: #e6f1fd;
      color: $bluedeg;
      margin-right: 12px;
      font-size: 15px;
      font-weight: 500;
      padding: 6px 13px;
    }
    .lnr-heart {
      font-size: 15px;
      color: #6f7d8d;
      padding-left: 22px;
      position: relative;
      &::before {
        color: $purple;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .rate-product {
      display: none;
    }
    .rate-product.active {
      display: inline-block;
      margin-left: 15px;
    }

    .lnr-cart {
      font-size: 15px;
      color: $bluedeg;
      padding-left: 25px;
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

.products__all-btn {
  text-align: center;
  margin-top: 55px;
  button {
    border: none;
    background-color: $bluedeg;
  }
}
//end product

//start followers
.followers {
  background-color: $bgheader;
  padding: 120px 0;
  .slick-prev {
    background-color: $bluedeg;
  }
  .slick-next {
    background-color: $bluedeg;
  }
}
//end followers



//start statistics
.statistics{
  padding: 90px 0;
  background-color: #212225;
}
.statistics__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.statistics__item{
  max-width: 170px;
  text-align: center;
  &.case{
    color: #feb71d;
  }
  &.cloud{
    color: #58c9e9;
  }
  &.smile{
    color: #77de51;
  }
  &.people{
    color: #ff6a6d;
  }
  span{
    font-size: 48px;
  }
  &-number{
    font-size: 36px;
    padding: 45px 5px 10px;
    
  }
  &-text{
    font-size: 18px;
    color: #fff;
    padding: 0px 7px;
  }
  
}
//end statistics

//start choice
.choice__title{
  font-size: 36px;
  margin-top: 120px;
  text-align: center;
  a{
    color: $bluedeg;
  }
}
.choice__text{
  color: $text;  
  text-align: center;
  padding: 30px 230px 50px ;
}

.choice__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 120px;  
}

.choice__item{
  max-width: 360px;
  text-align: center;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  &-number{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 300;
    color: #5c87f8;
    font-size: 48px;
    opacity: 0.2;
  }
  .license{
    color: $bluedeg;
  }
  .magic{
    color: #7f4ec2;
  }
  .lock{
    color: #77de51;
  }
  .bars{
    color: #feb71d;
  }
  .leaf{
    color: #58c9e9;
  }
  .phone{
    color: #ff6a6d;
  }
  &-logo{
    font-size: 60px;
    padding-top: 50px;
  }
  &-title{
    font-size: 24px;
    padding-top: 43px;
  }
  &-text{
    line-height: 30px;
    color: $text;    
    padding:20px 30px 45px;
  }
} 
//end choice
